<h1><%= @post.title %> </h1>
<p><%= @post.body %>  </p>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Post List" , posts_path %>
<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_post_path(@post) %>

